Django==3.2.0
django-allauth==0.50.0
# geos
# proj
# gdal
python_dotenv==0.20.0
psycopg2==2.8.6
postgis==1.0.4
django_filter==21.1
djangorestframework_gis==1.0
djangorestframework==3.13.1
django_leaflet==0.28.3
numpy