{% load static %}
{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style media="screen">
      #map {
        width: 50%;
        height: 50%;
      }
    </style>
  </head>
  <body>
    <h3>{{ post.title }}</h3>
    <br>
    {{ post.comment }}
    <br>
    <script type="text/javascript">
      function map_init_basic (map, options) {
      marker = new L.marker([{{ post.location.x }}, {{ post.location.y }}]).addTo(map);
      map.panTo(new L.LatLng({{ post.location.x }}, {{ post.location.y }}));
      }
    </script>
    {% leaflet_map "map" callback="window.map_init_basic" %}
    <br>
    <form action="{% url 'memo:profile' %}" method="get" target="_blank">
      <button type="submit">Перейти в профиль</button>
    </form>
  </body>
</html>