{% load static %}
{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style media="screen">
      #map {
        width: 50%;
        height: 50%;
      }
    </style>
    <!--<script src="{% static 'leaflet-ajax/dist/leaflet.ajax.min.js' %}"></script>-->
    <!--<script src="{% static 'spin.js/spin.min.js' %}"></script>-->
    <!--<script src="{% static 'leaflet-spin/leaflet.spin.js' %}"></script>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'map.css' %}" />-->
    <!--<link rel="stylesheet" type="text/css" href="https:///unpkg.com/leaflet/dist/leaflet.css" />-->
    <!--<script src="https:///unpkg.com/leaflet/dist/leaflet.js"></script>-->
  </head>
  <body>
    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
    <br>
    {{ user.first_name }}
    <br>
    {% if is_nothing %}
      У вас нет ни одного воспоминания
    {% endif %}
    <form action="{% url 'memo:create' %}" method="get" target="_blank">
      <button type="submit">Добавить воспоминание</button>
    </form>
    {% for post in posts %}
      <li>
        <a href="{% url 'memo:post_detail' post.pk %}">{{ post.title }}</a>
      </li>
    {% endfor %}

    {% load i18n %}
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit">{% trans 'Log Out' %}</button>
    </form>
  </body>
</html>